%div.container__main__contents__message
  %div.container__main__contents__message__dammyheader
  %div.container__main__contents__message__header
    %h2 sampleさん
    %span 20XX/12/24
  %div.container__main__contents__message__text
    %p クリスマスがあああああああああああああ


