%div.sidebar
  %div.sidebar__header
  %div.sidebar__content
  = render "sidebar__contents__group"
%div.main
  %div.main__header
  %div.main__content
  = render "main__contents__message"
  %div.main__footer


